.yellow {
    color:gold;
    text-decoration: none;
}
#blue{
    color:blue;
    font-family:arial;
    font-size: 13px;
}
#title{
    color:teal;
}
body {
    background-color:#800000;
    color:white;
    font-family:arial;
}
#pic{
    width:325px;
    height:500px;
}
.tabs {
    width:100%;
    display:inline-block;
}
#table-font{
    color:black;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#FFD700;
    font-size:16px;
    font-weight:600;
    color:#333333;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    background:#FFE066;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#a64D4D;
    color:#FFD700;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#800000;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}




