.yellow {
    color:gold;
    text-decoration: none;
}
#blue{
    color:blue;
    font-family:arial;
    font-size: 13px;
}
#title{
    color:teal;
}
body {
    color:white;
    background:#800000;
    font-family:arial;
}
#pic{
    width:325px;
    height:500px;
}
.tabs {
    width:100%;
    display:inline-block;
}
#table-font{
    color:black;
}

/*----- Content of Tabs -----*/

.tab {
    display:none;
}

.tab.active {
    display:block;
}





