.yellow {
    color:gold;
    text-decoration: none;
}
#blue{
    color:blue;
    font-family:arial;
    font-size: 13px;
}
#title{
    color:teal;
}
html, body{
    background-color: teal;
}
#pic{
    width:325px;
    height:500px;
}
.tabs {
    width:100%;
    display:inline-block;
}
#table-font{
    color:black;
}

/*----- Content of Tabs -----*/

.tab {
    display:none;
}

.tab.active {
    display:block;
}
#title1{
    text-align: center;
}
#about{
    font-size: larger;
}
.projects{
    font-size: larger;
}
.bold{
    font-weight:bold;
}
.underline{
    text-decoration: underline;
}
#constr{
    color:red;
    text-align: center;
}



